<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MentorMapper">

	<select id="findOne" resultType="Mentor">
		select m.*, u.name, fi.path i_path, ft.path t_path, fd.path d_path
		from mentor_apply m
		left join user u on m.mentor_u_id=u.id
		left join file fi on m.apply_f_intro_fk = fi.id
		left join file ft on m.apply_f_time_id = ft.id
		left join file fd on m.apply_f_doc_fk = fd.id
		WHERE m.id = #{m.id}
	</select>
	
	<select id="findByMentor_u_id" resultType="Mentor">
		SELECT * FROM mentor_apply WHERE mentor_u_id = #{mentor_u_id}
	</select>
	
	<select id="findAll" resultType="Mentor">
		select m.*, u.name, fi.path i_path, ft.path t_path, fd.path d_path
		from mentor_apply m
		left join user u on m.mentor_u_id=u.id
		left join file fi on m.apply_f_intro_fk = fi.id
		left join file ft on m.apply_f_time_id = ft.id
		left join file fd on m.apply_f_doc_fk = fd.id
	</select>
	
	<insert id="insert_apply" useGeneratedKeys="true" keyProperty="id">
		INSERT mentor_apply (mentor_u_id, group_name, subject, year, grade, count, study_purpose, study_content, study_method, apply_f_time_id, apply_f_intro_fk, apply_f_doc_fk)
		VALUES (#{mentor_u_id}, #{group_name}, #{subject}, #{year}, #{grade}, #{count}, #{study_purpose}, #{study_content}, #{study_method}, #{apply_f_time_id}, #{apply_f_intro_fk}, #{apply_f_doc_fk})
	</insert>
	
	<insert id="insert_report" useGeneratedKeys="true" keyProperty="id">
		INSERT report (subject, place, day, start_time, end_time, study_content, rep_f_photo_id, rep_u_id, rep_f_study_id)
		VALUES (#{subject}, #{place}, #{day}, #{start_time}, #{end_time}, #{study_content}, #{rep_f_photo_id}, #{rep_u_id}, #{rep_f_study_id})
	</insert>
	
	<update id="update">
		UPDATE mentor_apply SET
			mentor_u_id = #{mentor_u_id}, group_name = #{group_name}, subject = #{subject},
			year = #{year}, grade = #{grade}, count = #{count},
			study_purpose = #{study_purpose}, study_content = #{study_content}, study_method = #{study_method},
			open_date = #{open_date},
			apply_f_time_id = #{apply_f_time_id}, apply_f_intro_fk = #{apply_f_intro_fk}, apply_f_doc_fk = #{apply_f_doc_fk}
		WHERE id = #{id}
	</update>
	
	<!--
	<update id="update_condition">
		UPDATE mentor_apply SET
			condition = #{condition}
		WHERE id = #{id}
	</update>
	-->
	
	<update id="update_refusal">
		UPDATE mentor_apply SET
			refusal = #{refusal}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	    DELETE FROM mentor_apply WHERE id = #{id}
	</delete>

</mapper>