<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.MentorMapper">

	<select id="findOne" resultType="Mentor">
		select m.*, u.name, f.path from mentor_apply m left join user u on m.mentor_u_id=u.user_id left join file f on m.apply_f_intro_fk = f.id WHERE id = #{id}
	</select>
	
	<select id="findByMentor_u_id" resultType="Mentor">
		SELECT * FROM mentor_apply WHERE mentor_u_id = #{mentor_u_id}
	</select>
	
	<select id="findAll" resultType="Mentor">
		select m.*, u.name, f.path from mentor_apply m left join user u on m.mentor_u_id=u.user_id left join file f on m.apply_f_intro_fk = f.id
	</select>
	
	<insert id="insert_apply" useGeneratedKeys="true" keyProperty="id">
		INSERT mentor_apply (mentor_u_id, group_name, subject, year, grade, count, study_purpose, study_content, study_method, apply_f_time_id, apply_f_intro_fk, apply_f_doc_fk)
		VALUES (#{mentor_u_id}, #{group_name}, #{subject}, #{year}, #{grade}, #{count}, #{study_purpose}, #{study_content}, #{study_method}, #{apply_f_time_id}, #{apply_f_intro_fk}, #{apply_f_doc_fk})
	</insert>
	
	<update id="update">
		UPDATE mentor_apply SET
			mentor_u_id = #{mentor_u_id}, group_name = #{group_name}, subject = #{subject},
			year = #{year}, grade = #{grade}, count = #{count},
			study_purpose = #{study_purpose}, study_content = #{study_content}, study_method = #{study_method},
			open_date = #{open_date},
			apply_f_time_id = #{apply_f_time_id}, apply_f_intro_fk = #{apply_f_intro_fk}, apply_f_doc_fk = #{apply_f_doc_fk}, mentee_num = #{mentee_num}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	    DELETE FROM mentor_apply WHERE id = #{id}
	</delete>

</mapper>