<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.TeamMapper">

	<select id="findTeamByMentor" resultType="Team">
		SELECT * FROM team WHERE group_m_apply_id = #{group_m_apply_id}
	</select>
	
	<insert id="insertMentor" useGeneratedKeys="true" keyProperty="id">
		INSERT team (group_m_apply_id)
		VALUES (#{group_m_apply_id})
	</insert>
	
	<insert id="insertMentee" useGeneratedKeys="true" keyProperty="id">
		INSERT team (group_mentee_id)
		VALUES (#{group_mentee_id})
	</insert>
	
	<delete id="delete">
	    DELETE FROM team WHERE group_m_apply_id = #{group_m_apply_id}
	</delete>

	<select id="findAll" resultType="Team">
		SELECT t.*, m.group_name, m.count, m.open_date, u.name, count(*) "apply_mentee_count"
		FROM Team t right join mentor_apply m
		on t.group_m_apply_id = m.id
		left join user u
		on m.mentor_u_id = u.id
		group by t.group_m_apply_id		
	</select>
	
	<select id="findByName" resultType="Team">
		SELECT t.*, m.group_name, m.count, m.open_date, u.name, count(*) "apply_mentee_count"
		FROM Team t right join mentor_apply m
		on t.group_m_apply_id = m.id
		left join user u
		on m.mentor_u_id = u.id
		group by t.group_m_apply_id	
		WHERE m.group_name LIKE CONCAT('%', #{keyword}, '%');
	</select>
	
</mapper>