<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.UserMapper">

	<select id="findOneByUser_id" resultType="User">
		SELECT * FROM user WHERE user_id = #{user_id}
	</select>
	
	<select id="findOneById" resultType="User">
		SELECT * FROM user
		WHERE id = #{id}
	</select>
	
	<select id="findAll" resultType="User">
		SELECT * FROM user
	</select>
	
	<select id="findAllManager" resultType="User">
		SELECT u.*, d.d_name
		FROM user u left join department d ON u.major_id=d.id
		WHERE type=2;
	</select>
	
	<select id="findAllMentor" resultType="User">
		SELECT u.*, d.d_name
		FROM user u left join department d ON u.major_id=d.id
		WHERE type=3;
	</select>
	
	<select id="findAllMentee" resultType="User">
		SELECT u.*, d.d_name
		FROM user u left join department d ON u.major_id=d.id
		WHERE type=4;
	</select>
	
	<select id="findByName" resultType="User">
		SELECT u.*, d.d_name
		FROM user u left join department d ON u.major_id=d.id
		WHERE name = #{name};
	</select>

	<update id="update">
		UPDATE user SET pw = #{pw}, email = #{email}, phone = #{phone} WHERE id = #{id}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	    INSERT user (user_id, pw, name, type, major_id)
	    VALUES (#{user_id}, #{pw}, #{name}, #{type}, #{major_id})
	</insert>
	
	<delete id="delete">
	    DELETE FROM user WHERE id = #{id}
	</delete>
	
	<insert id="m_setting" useGeneratedKeys="true" keyProperty="id">
	    INSERT into setting (mentor_start_date, mentor_expire_date, mentee_start_date, mentee_expire_date, study_count, max_mentor, max_mentee, min_mentee, report_deadline)
	    VALUES (#{mentor_start_date}, #{mentor_expire_date}, #{mentee_start_date}, #{mentee_expire_date}, #{study_count}, #{max_mentor}, #{max_mentee}, #{min_mentee}, #{report_deadline})
	</insert>

</mapper>

